

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<ul id="listid"></ul>
<button>Get External Content</button>







@section scripts 
{

    <script>
$(document).ready(function(){
    $("button").click(function(){
        
        
        $("#div1").text("This is first Jquery option")
        $.ajax({
    type: "GET",
    url: "/api/servicetypeapi",
   
   
    success: function (data) {
        console.log('sucess',data);
          $.each(data,function(i,item){
           
              $("#listid").append('THis is a text');
              $("#div1").append('d');
              $("#listid").append('<li>'+item.id+'</li>')
              $("#listid").append('<li>'+item.serviceTypeName+'</li>')
           
      
            });
        ;
        
    }
});

    
  
    });

    
});
</script>
}