   
   
   <div class="container" id ='selectDiv' style="width:300px" >
<select name="Names" id="Names1" class="form-control" aria-placeholder="Select Name" > 
    <option value="Dev">Devarsh</option>
    <option value="ramesh">ramesh</option>
    <option value="ripal">ripal</option>
</select>    
</div>

 <div class="container"  style="width:300px" >
<canvas id="myChart" width="400" height="400"></canvas>
</div>

<div id ='div1'></div>
<button>click</button>
    
@section scripts{
    <script>
      
     
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({
    type: "GET",
    url: "/api/servicetypeapi",
    success: function (data) {
        console.log('sucess',data);
          $.each(data,function(i,item){
            });
        ;
        
    }
}); });});
</script>


<script>
    var Names=[];
    var PeningTask=[];

 populateArray();

 // First Do GET API 
 // Second populate array from get EachLoop
 //Third pass array to the bar chart
 // create function and pass barchart to the function 
 //and call function using pure javascript like populate array 
 // if you put Chart out of function it will be shown but it excutes at same time when everything renders 
 // APi javascript ,array foreachloop in ajax and function can help. 
function populateArray(){

     $.ajax({
    type: "GET",
    url: "/api/TaskDashBoard",
    success: function (data) {
        console.log('sucess',data);
          $.each(data,function(i,item){
             Names.push (item.cleanerName);
             PeningTask.push(item.cleaningTask);
            
            });

var canvasMychartId = document.getElementById('myChart');
var ctxforCanvasMyChart = canvasMychartId.getContext('2d');



var myChart = new Chart(ctxforCanvasMyChart, {
    type: 'pie',
    data: {
        labels: Names,
        datasets: [{
            label: '# of Pending Tasks',
            data: PeningTask,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});







        
        
    }
});    

}


$(document).ready(function(){
    $("button").click(function(){
        $.ajax({
    type: "GET",
    url: "/api/TaskDashBoard",
    success: function (data) {
        console.log('sucess',data);
          $.each(data,function(i,item){
         $("#div1").append('<li>'+item.cleanerName+ ' '+item.cleaningTask +'</li>')
             Names.push (item.cleanerName);
             PeningTask.push(item.cleaningTask);
            
            });
        
        
    }
}); });});



</script>

<script>




function clickmessage(){
    alert('Hey you clicked me');

}


var selectId = document.getElementById('Names1')
selectId.onclick=clickmessage;

</script>
}
   
    